<web-app>
    <servlet>
        <servlet-name>customerbeanservlet</servlet-name>
        <servlet-class>ttc.CustomerBeanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>customerbeanservlet</servlet-name>
        <url-pattern>/customerbeanservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>outputcb</servlet-name>
        <jsp-file>/WEB-INF/outputcb.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>outputcb</servlet-name>
        <url-pattern>/outputcb</url-pattern>
    </servlet-mapping>

    <!--taglib-->
    <servlet>
        <servlet-name>input</servlet-name>
        <jsp-file>/input.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>input</servlet-name>
        <url-pattern>/input</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adduser</servlet-name>
        <servlet-class>tera.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adduser</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userslist</servlet-name>
        <jsp-file>/WEB-INF/userslist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userslist</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>

    <!--Conext-->
    <servlet>
        <servlet-name>GetCountServlet</servlet-name>
        <servlet-class>ttc.GetCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>countshow</servlet-name>
        <jsp-file>/WEB-INF/countshow.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetCountServlet</servlet-name>
        <url-pattern>/getcountservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>countshow</servlet-name>
        <url-pattern>/countshow</url-pattern>
    </servlet-mapping>

    <!--Session1-->
    <servlet>
        <servlet-name>SessionStartServlet</servlet-name>
        <servlet-class>ttc.SessionStartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionshow</servlet-name>
        <jsp-file>/WEB-INF/sessionshow.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SessionEndServlet</servlet-name>
        <servlet-class>ttc.SessionEndServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionStartServlet</servlet-name>
        <url-pattern>/sessionstart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionshow</servlet-name>
        <url-pattern>/sessionshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionEndServlet</servlet-name>
        <url-pattern>/sessionend</url-pattern>
    </servlet-mapping>

    <!--Session2-->
    <servlet>
        <servlet-name>SessionStartServlet2</servlet-name>
        <servlet-class>ttc.SessionStartServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionshow2</servlet-name>
        <jsp-file>/WEB-INF/sessionshow2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SessionEndServlet2</servlet-name>
        <servlet-class>ttc.SessionEndServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionStartServlet2</servlet-name>
        <url-pattern>/sessionstart2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionshow2</servlet-name>
        <url-pattern>/sessionshow2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionEndServlet2</servlet-name>
        <url-pattern>/sessionend2</url-pattern>
    </servlet-mapping>
    <!--Param-->
    <servlet>
        <servlet-name>paramjsp</servlet-name>
        <jsp-file>/WEB-INF/param.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>paramjsp</servlet-name>
        <url-pattern>/paramjsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>inputparamjsp</servlet-name>
        <jsp-file>/WEB-INF/inputparam.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>inputparamjsp</servlet-name>
        <url-pattern>/inputparamjsp</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>data_format</param-name>
        <param-value>yyyy/M/d(E)k:m:s</param-value>
    </context-param>
    <context-param>
        <param-name>encoding_type</param-name>
        <param-value>Windows-31J</param-value>
    </context-param>
    <!--jdbc-->
    <servlet>
        <servlet-name>ReferServlet</servlet-name>
        <servlet-class>jdbc.ReferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReferServlet</servlet-name>
        <url-pattern>/ReferServlet</url-pattern>
    </servlet-mapping>
    <!--Listener-->
    <listener>
        <listener-class>j2eeevent.MyServletContextListener</listener-class>
    </listener>

    <!--Filter-->
    <filter>
        <filter-name>logincheckfilter</filter-name>
        <filter-class>ttc.LoginCheckFilter</filter-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>ica</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>tera</param-value>
        </init-param>    
    </filter>
    <filter-mapping>
        <filter-name>logincheckfilter</filter-name>
        <url-pattern>/productinput</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>logincheckfilter</filter-name>
        <url-pattern>/productorder</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>authenticatefilter</filter-name>
        <filter-class>ttc.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenticatefilter</filter-name>
        <url-pattern>/productinput</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authenticatefilter</filter-name>
        <url-pattern>/productorder</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>productinput</servlet-name>
        <jsp-file>/WEB-INF/productinput.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>productinput</servlet-name>
        <url-pattern>/productinput</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productorder</servlet-name>
        <jsp-file>/WEB-INF/productorder.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>productorder</servlet-name>
        <url-pattern>/productorder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>orderlogin</servlet-name>
        <jsp-file>/WEB-INF/orderlogin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>orderlogin</servlet-name>
        <url-pattern>/orderlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>authenticate</servlet-name>
        <servlet-class>ttc.AuthenticateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>

    <!--Object-->
    <servlet>
        <servlet-name>FrontServlet</servlet-name>
        <servlet-class>FrontServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontServlet</servlet-name>
        <url-pattern>/front</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jspobject</servlet-name>
        <jsp-file>/WEB-INF/jspobject.jsp</jsp-file>
        <init-param>
            <param-name>param1</param-name>
            <param-value>terahouse</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>jspobject</servlet-name>
        <url-pattern>/jspobject</url-pattern>
    </servlet-mapping>

    <!--EL-->
    <context-param>
        <param-name>param3</param-name>
        <param-value>WEBプログラミング科</param-value>
    </context-param>
    <servlet>
        <servlet-name>elobject</servlet-name>
        <jsp-file>/WEB-INF/elobject.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>elobject</servlet-name>
        <url-pattern>/elobject</url-pattern>
    </servlet-mapping>
</web-app>